{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "globals": {
    "JSX": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/webpack.*",
          "test/**/*"
        ]
      }
    ],
    "max-len": [
      "warn",
      {
        "ignoreUrls": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      },
      "webpack": {
        "config": "./webpack.config.js"
      }
    }
  },
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "plugins": [
        "react",
        "@typescript-eslint"
      ],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "prettier"
      ],
      "rules": {
        // This rule is already covered by the TypeScript compiler.
        "import/default": "off",
        // This rule is already covered by the TypeScript compiler.
        "import/no-unresolved": "off",
        "import/extensions": "off",
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": "warn",
        "react/jsx-filename-extension": "off",
        "import/prefer-default-export": "off",
        "@typescript-eslint/no-unused-vars": [
          2,
          {
            "args": "none"
          }
        ]
      }
    }
  ]
}
